@media only screen and (max-width: 600px) {


.blogsComponent {
    padding-top: 2rem;
}
.blogs-header {
    background-color: rgb(66, 133, 244);
}
.blogs-header-in {
    padding: 30px 0px;
    display: flex;
    align-items: center;

    width: 90%;
    margin: auto;
}
.blogs-header-in h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    width: 80%;
}

.blogs-one-one-in {
    display: flex;
    align-items: center;
}

.blogs-one-one-in h1 {
    margin-left: 20px;
    font-weight: 600;
    font-size: 1rem;
}
.blogs-one {
    padding: 50px 0px;
    border-top: 2px solid grey;
    border-bottom: 1px solid rgb(56, 55, 55);
}

.blogs-one-in {
    width: 90%;
    margin: auto;
}
.blogs-one-two-in {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.botis {
    padding: 20px 0px;
    width: 80%;
}

.botis-in {
    display: flex;
}
.botis-one {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botis-one-in h1 {
    font-size: 1.3rem;
    color: grey;
    font-weight: 600;
}
.botis-two {
    width: 80%;
}

.botis-two-one-in p:nth-child(1) {
    font-size: 0.6rem;
    color: rgb(173, 171, 171);
}
.botis-two-two-in p {
    font-size: 1rem;
    color: white;
    font-weight: 600;
}
.botis-two-three-in p {
    font-size: 0.6rem;
    color: rgb(173, 171, 171);
}

.blogs-two-in {
    width: 90%;
    margin: auto;
    padding: 50px 0px;
}
.blogs-act {
    border: 2px solid grey;
    width: 100%;
    margin: auto;

    border-radius: 10px;
    padding: 10px 0px 30px 0px;
    margin-top: 20px;
}
.blogs-act-in {
    width: 90%;
    margin: auto;
}
.blogs-act-header-in {
    padding: 20px 0px 10px 0px;
}
.blogs-act-header-in h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(66, 133, 244); 
}

.blogs-act-pi-one p {
    font-size: 0.7rem;
}
.blogs-act-pi-two p {
    font-size: 0.8rem;
}
.blogs-act-one {
    margin: 30px 0px;
}
.blogs-act-one-in-image {
    width: 90%;
}
.blogs-act-two-in p {
    font-size: 1rem;
    width: 90%;
}
}